.MemoItem {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 5px 8px;
  position: relative;
  box-sizing: border-box;
}

.MemoItem.selected {
  background-color: rgba(100, 100, 100, 0.5);
  font-weight: 500;
}

.MemoItem__deleteButton {
  background: none;
  border: none;
  color: red;
  font-size: 1rem;
  cursor: pointer;
  position: absolute;
  right: 0;
  display: none;
}
.MemoItem:hover .MemoItem__deleteButton {
  display: inline-block;
}
