.MemoContainer {
  padding: 20px;
  flex: 1;
}

.MemoContainer__title {
  width: 100%;
  box-sizing: border-box;
  font-size: 2rem;
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  outline: none;
}

.MemoContainer__content {
  width: 100%;
  min-height: 600px;
  box-sizing: border-box;
  font-size: 1.1rem;
  border: none;
  outline: none;
}
